.Main {
  text-align: center;
}

.Main-logo {
  /*animation: Main-logo-spin infinite 20s linear;*/
  height: 80px;
}

.Main-header {
  background-color: #212121;
  height: 150px;
  padding: 20px;
  color: white;
}

.Main-title {
  font-size: 1.5em;
}

.Main-intro {
  font-size: large;
}

@keyframes Main-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
