.TrialTableContainer {
    margin: 20px 50px;    
}

.TableBody {
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.deleteButton:hover {
    color: red;
}

.editButton:hover {
    color: #93b4d4;
}